name: Deploy Prd

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 4"

permissions: {}

concurrency:
  group: ${{ github.workflow }}

jobs:
  bicep-deploy-dev:
    permissions:
      contents: read
      id-token: write
    environment: Development
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.repository }}-dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Bicep CLI
        uses: Azure/setup-bicep@v2

      - name: Az CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}

      - name: Deploy Bicep
        run: |
          az deployment sub create \
            --location uksouth \
            --template-file bicep/main.bicep \
            --parameters @params/dev.json

  bicep-deploy-prd:
    permissions:
      contents: read
      id-token: write
    environment: Production
    needs: bicep-deploy-dev
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.repository }}-prd
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Bicep CLI
        uses: Azure/setup-bicep@v2

      - name: Az CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}

      - name: Deploy Bicep
        run: |
          az deployment sub create \
            --location uksouth \
            --template-file bicep/main.bicep \
            --parameters @params/prd.json
