name: PR Verify

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]

permissions: {}

jobs:
  bicep-validation:
    permissions:
      contents: read
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Bicep CLI
        uses: Azure/setup-bicep@v2

      - name: Bicep lint
        run: bicep lint bicep/main.bicep

      - name: Bicep build
        run: bicep build bicep/main.bicep

  bicep-plan-dev:
    permissions:
      contents: read
      id-token: write
    if: github.event.pull_request.draft == false && !contains(github.event.pull_request.labels.*.name, 'deploy-dev')
    needs: bicep-validation
    environment: Development
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.repository }}-dev
    env:
      AZURE_CLIENT_ID: ${{ github.event.pull_request.user.login == 'dependabot[bot]' && vars.AZURE_PLAN_CLIENT_ID || vars.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Bicep CLI
        uses: Azure/setup-bicep@v2

      - name: Az CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ env.AZURE_CLIENT_ID }}
          subscription-id: ${{ env.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ env.AZURE_TENANT_ID }}

      - name: What-If Deployment
        run: |
          az deployment sub what-if \
            --location uksouth \
            --template-file bicep/main.bicep \
            --parameters @params/dev.json
